
<div class="login-wrapper" fxLayout="row" fxLayoutAlign="center center">

  <mat-card class="box">
    <mat-card-header>
      <mat-card-title>Log in</mat-card-title>
    </mat-card-header>

    <form [formGroup]="loginForm" class="login-form" (ngSubmit)="onSubmit()">
      <mat-card-content>
        <mat-form-field class="field-full-width">
          <input matInput placeholder="Username" formControlName="username">
        </mat-form-field>

        <mat-form-field class="field-full-width">
          <input matInput placeholder="Password" formControlName="password">
        </mat-form-field>
      </mat-card-content>
      <button mat-stroked-button color="accent" class="btn-block" type="submit" [disabled]="!loginForm.valid">Log in</button>
    </form>
  </mat-card>

</div>